[submodule "pack/nvim-lspconfig/start/nvim-lspconfig"]
	path = pack/nvim-lspconfig/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/gruvbox/start/gruvbox"]
	path = pack/gruvbox/start/gruvbox
	url = https://github.com/ellisonleao/gruvbox.nvim.git
[submodule "pack/nvim-telescope/start/telescope.nvim"]
	path = pack/nvim-telescope/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/plenary.nvim/start/plenary.nvim"]
	path = pack/plenary.nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/vim-fugitive/start/vim-fugitive"]
	path = pack/vim-fugitive/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/undotree/start/undotree"]
	path = pack/undotree/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/comment/start/comment"]
	path = pack/comment/start/comment
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/lazydev/start/lazydev"]
	path = pack/lazydev/start/lazydev
	url = https://github.com/folke/lazydev.nvim
[submodule "nvim"]
	path = nvim
	url = https://github.com/neovim/neovim
[submodule "pack/vim-dap/start/vim-dap"]
	path = pack/vim-dap/start/vim-dap
	url = https://github.com/anakin4747/vim-dap
[submodule "pack/dbg.vim/start/dbg.vim"]
	path = pack/dbg.vim/start/dbg.vim
	url = https://github.com/anakin4747/dbg.vim
[submodule "pack/codecompanion/start/codecompanion"]
	path = pack/codecompanion/start/codecompanion
	url = https://github.com/olimorris/codecompanion.nvim.git
[submodule "pack/copilot/start/copilot"]
	path = pack/copilot/start/copilot
	url = https://github.com/github/copilot.vim.git
